Include /etc/ssh/sshd_config.d/*.conf

#Port 22
LogLevel VERBOSE


# Authentication:
PermitRootLogin no
MaxAuthTries 3
MaxSessions 3
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no

KbdInteractiveAuthentication no

UsePAM no

AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PrintMotd no

# no default banner path
#Banner none

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server
